// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --app-color-primary: #123167;
  --app-color-primary-rgb: 18, 49, 103;
  --app-color-secondary: #b59260;
  --app-color-secondary-rgb: 181, 146, 96;
  --app-color-surface: #061c42;
  --app-color-surface-rgb: 6, 28, 66;

  --ion-color-primary: var(--app-color-primary);
  --ion-color-primary-rgb: var(--app-color-primary-rgb);
  --ion-color-primary-contrast: var(--app-color-secondary);
  --ion-color-primary-contrast-rgb: var(--app-color-secondary-rgb);
  --ion-color-primary-shade: #102b5b;
  --ion-color-primary-tint: #2a4576;

  --ion-color-secondary: var(--app-color-secondary);
  --ion-color-secondary-rgb: var(--app-color-secondary-rgb);
  --ion-color-secondary-contrast: var(--app-color-primary);
  --ion-color-secondary-contrast-rgb: var(--app-color-primary-rgb);
  --ion-color-secondary-shade: #9f8054;
  --ion-color-secondary-tint: #bea16f;

  --ion-background-color: var(--app-color-primary);
  --ion-background-color-rgb: var(--app-color-primary-rgb);
  --ion-text-color: var(--app-color-secondary);
  --ion-text-color-rgb: var(--app-color-secondary-rgb);
  --ion-item-background: var(--app-color-surface);
  --ion-card-background: rgba(var(--app-color-primary-rgb), 0.92);
  --ion-toolbar-background:  var(--app-color-surface);
  --ion-toolbar-color: var(--app-color-secondary);
  --ion-tab-bar-background: var(--app-color-primary);
  --ion-tab-bar-color: rgba(var(--app-color-secondary-rgb), 0.74);
  --ion-tab-bar-color-selected: var(--app-color-secondary);
  --ion-border-color: rgba(var(--app-color-secondary-rgb), 0.24);
  --ion-color-step-50: #17386f;
  --ion-color-step-100: #1d4077;
  --ion-color-step-150: #24497e;
  --ion-color-step-200: #2a5186;
  --ion-color-step-250: #31598d;
  --ion-color-step-300: #376296;
  --ion-color-step-350: #3e6a9d;
  --ion-color-step-400: #4472a5;
  --ion-color-step-450: #4b7bad;
  --ion-color-step-500: #5183b4;
  --ion-color-step-550: #588bbc;
  --ion-color-step-600: #5e94c4;
  --ion-color-step-650: #659ccb;
  --ion-color-step-700: #6ba4d3;
  --ion-color-step-750: #72addb;
  --ion-color-step-800: #78b5e2;
  --ion-color-step-850: #7fbeea;
  --ion-color-step-900: #85c6f1;
  --ion-color-step-950: #8ccef9;
}
